# this file uses prebuilt image in dockerhub
services:
  jekyll:
    image: amirpourmand/al-folio:slim
    #build: .
    ports:
      - 8080:8080
      - 35729:35729
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development
      - CHOKIDAR_USEPOLLING=true   # Forces polling for file changes on Windows
    command: >
      bash -c "bundle exec jekyll serve --host 0.0.0.0 --port 8080 --watch --livereload --force_polling"